[2017-12-12 03:36] erictune opened #2 "Create json-schema for use in the CRDs from the go types."
CRDs support json-schema schemas.  These CRDs don't have them.  It would be nice to show how to add them, initially maintained in parallel with the Go types, and then later generated from the Go types (pkg/apis).

[2017-12-12 03:40] erictune commented on #2
xref https://github.com/kubernetes/code-generator/issues/28

[2017-12-16 03:57] nikhita commented on #2
/cc @sttts @munnerz @mbohlool

[2018-01-12 15:52] mattmoor opened #5 "Example unit tests"
It would be useful to provide examples for how to test the `controller.go` code.

[2018-01-12 17:11] nikhita commented on #5
See https://github.com/kubernetes/kubernetes/pull/53944

[2018-01-19 10:41] kargakis opened #6 "code-generator is missing from this repo"
1. git cloned this repo
2. changed the types to my own
3. removed all generated files (rm -rf pkg/client pkg/apis/prow/v1/zz_generated.deepcopy.go)
4. ./hack/update-codegen.sh does not work because code-generator is not vendored in this repo
5. pushd vendor/k8s.io
6. git clone https://github.com/kubernetes/code-generator
7. popd; ./hack/update-codegen.sh now works

I didn't expect to do 5-7. I ass

[2018-01-19 11:49] sttts commented on #6
Intentional? no. Known? yes. Godeps does not do it itself and the publisher does not fix it up (but could).

[2018-01-19 11:51] munnerz commented on #6
Yep this is a bit of a tricky one right now - does Godeps support explicitly vendoring a package that the project doesn't actually depend upon?

Even if we make the publisher do this, we need to make sure a `godeps save ./...` in future doesn't wipe out the code-generator dependency (thinking about end-users who might copy and paste this repo to start their own)

[2018-01-19 11:53] sttts commented on #6
An hack/update-godeps.sh could help I think. But I wonder whether we really have to protect the users from the vendoring tools so much. The published repo should of course work. But if users copy the code, they have to know their vendoring tool of choice. And yes, these are a pain in Goland.

[2018-01-19 11:57] kargakis commented on #6
Another option is to create a dependency link between the generator and the sample repo with an empty import. Could that work?
[code]

[2018-01-19 13:14] kargakis commented on #6
Or `hack/update-codegen.sh` can ensure the generator is cloned in the directory it expects to find it.

[2018-01-19 17:09] sttts commented on #6
Which means it must be aware of its branch and pick the right version. Don't like that either. We need a sane vendoring tool like dep that can reference extra repos.

[2018-01-23 03:55] suneeta-mall opened #7 "Issue with informer factory list interface"
I am trying to create a Kubernetes controller inline with how sample-controller is built. But I keep getting this
[code]
but the runtime objects are correctly generated using https://github.com/kubernetes/code-generator with same version branch and structure of objects seems to be same.

I know this is a outside the scope of sample-controller but I have seen sample-controller giving same error but

[2018-01-24 01:34] suneeta-mall commented on #7
Not quite a bug .. false alarm ..

[2018-01-24 01:34] #7 closed

[2018-01-24 21:43] DirectXMan12 opened #8 "code-generator depends on APIMachinery registration package, fails to update generated code"
Updating the generated clientsets (after manually vendoring `k8s.io/code-generator` due to #6) fails because the client-gen's default input directories include `k8s.io/apimachinery/pkg/apimachinery/registered`, which is not vendored in this repository.  AFAICT, it doesn't need to be vendored in this repository (since it's just for API server registration), so it should probably be an optional inpu

[2018-01-24 21:44] DirectXMan12 commented on #8
cc @sallyom

[2018-01-26 00:39] kargakis commented on #6
/meow

[2018-01-30 06:14] hvishwanath opened #9 "README instructions gives an error while trying to run the controller"
I am just following the instructions in README. I see the following error:

[code]

[2018-01-30 09:50] nikhita commented on #9
@hvishwanath Not able to reproduce this. Are you on the latest master?

/cc @sttts @munnerz

[2018-01-30 09:51] nikhita commented on #8
/cc @sttts

[2018-01-30 14:46] sttts commented on #9
`kubectl version` would help

[2018-01-30 14:47] sttts commented on #8
@DirectXMan12 https://github.com/kubernetes/kubernetes/pull/57143 fixes this. Needs a review.

[2018-01-30 17:12] hvishwanath commented on #9
[code]

[2018-01-30 18:19] sttts commented on #9
/assign @munnerz

I guess the controller won't work before 1.8 or even 1.9 (it did not even exist before 1.9).

[2018-01-30 18:25] munnerz commented on #9
Yep this will be down to the recent PR that switched sample-controller to
use apps/v1 instead of v1beta1. As apps/v1 did not exist until 1.9, we no
longer support anything earlier. Perhaps changing back to v1beta1 or
v1beta2 would be a better idea?
On Tue, 30 Jan 2018 at 18:19, k8s-ci-robot <notifications@github.com> wrote:

[2018-01-30 18:26] hvishwanath commented on #9
Or may be check for the server version and use the right API object?

[2018-01-30 19:00] sttts commented on #9
We should just document the minimal requirements.

[2018-01-30 19:24] nikhita commented on #9
+1. apps/v1 is GA so we should use it.

While this makes sense, sample-controller is supposed to be an example and complicating the example doesn't seem like a good idea. Given that people mostly end up copy-pasting this repo...

[2018-01-30 19:28] hvishwanath commented on #9
I think it may be worthwhile to do k8s version based clientset api calls, given that k8s 1.7.x has support for CRDs and controllers can be written. For instance `client-python` works fine with 1.7.x.

[2018-01-31 09:37] sttts commented on #9
I agree with @nikhita that we shouldn't try to support multiple versions in this example, especially not with a GA type.

[2018-01-31 10:39] #9 closed

[2018-02-04 20:14] kargakis commented on #6
@sttts today `code-generator` and `sample-controller` follow the release branches of `kubernetes/kubernetes`. Unless, that is going to change in the future, I think `hack/update-codegen.sh` should try to checkout the same branch in `code-generator`that is already checkout out in `sample-controller` when the script runs. Seems like a viable short-term fix, `dep` is unlike to be used anytime soon.

[2018-02-04 22:33] sttts commented on #6
You might be surprised soon ;)

[2018-02-07 19:16] carolynvs commented on #6
I am using dep to get started on a fork of this repo. Here's my config for vendoring the code generator (relies on dep v0.4.1+):

[code]

I haven't gotten to the point where everything is working so that may need to change some more. 😀

[2018-02-08 09:38] sttts commented on #6
What is still missing?

Am surprised that we have to disable pruning for required packages, at least the `unused-packages = false` part.

[2018-02-08 15:09] #8 closed

[2018-02-12 19:53] #6 closed

[2018-02-18 12:25] nikhita commented on #2
WIP in https://github.com/kubernetes/kube-openapi/pull/37

[2018-02-18 12:30] nikhita commented on #9
@hvishwanath Sorry for getting back so late on this but the `release-1.9` branch does not use `apps/v1` so that branch should work fine with previous versions.

(Mentioning this here since it might useful for anyone who comes across this)

[2018-03-07 15:07] kminehart opened #11 "Better documentation on the `update-codegen` process"
I feel like I've edited everything I would need to edit to regenerate code for a new controller. My fork is here:

https://github.com/kminehart/ladon-resource-manager

Yet when I run `./hack/update-codegen`, I get:

[code]

which looks right, but nothing is there, and the deepcopy functions are still using `Foo` and not the new identifier, `Policy`, which tells me that these files are not actually

[2018-03-07 15:16] kminehart commented on #11
Ah ha! Found it!

Commenting out the `--output-base` flag in the `update-codegen` script did it. :)

[2018-03-07 15:16] #11 closed

[2018-03-09 05:29] irfn commented on #7
@suneeta-mall can you explain a little bit on how it was resolved

[2018-03-13 07:25] galvesribeiro opened #12 "Controllers on other languages than Go"
Hello,

I wonder if the controllers API is only available if using Go SDK/Client.

Are all APIs used in this Go sample available on API Server so we can write on our own languages the Controllers?

In case of yes, can someone point to the right doc so I can read more about it?

Thank you! Really appreciate any help.

[2018-03-13 10:09] nikhita commented on #12
There are clients available in other languages as well: https://github.com/kubernetes-client.

I am not entirely sure if we have docs for those (if we don't, we should make sure we have them). Maybe @tamalsaha or @enisoc know?

[2018-03-13 10:13] galvesribeiro commented on #12
THanks @nikhita Those clients are to talk to the API Server. I'm OK as we have our API client hand made here. The point is that I'm not seeing any docs neither any endpoint for custom controllers.

All I find is like this sample that technically implement a sample controller. I just don't know what it (controllers) does and how to proper implement then.

I'm trying to evaluate all the extension po

[2018-03-13 10:37] nikhita commented on #12
I personally like @ericchiang's slides on this. https://talks.godoc.org/github.com/ericchiang/go-1.8-release-party/kubernetes-controllers.slide#7

To quote that, a controller is a "Fancy Kubernetes-ism for a client that talks to the API in a loop." It looks at the current state of the object and tries to bring it to the desired state (by updating, deleting, etc). Example: ReplicationController is

[2018-03-13 10:41] galvesribeiro commented on #12
Oh!! Thank you @nikhita

Looks like I'll have usage for it. Now just need to find where in the API Server are the endpoints to create it.

I'm already using CRDs to store/read some cluster metadata of Orleans (https://github.com/OrleansContrib/Orleans.Clustering.Kubernetes). Now I'm working in another system and looks like the controller is something doable for me.

Thank you very much! Will close

[2018-03-13 10:41] #12 closed

[2018-03-14 15:17] vncntvandriessche opened #13 "Simple example with detailed instructions"
The controller is complex for the untrained eye, the required steps aren't very clear to me. It would be nice to have a more simple example, with some steps to follow along the development and decision making during it's progress.

This is how far I've gotten:
According to my understanding a controller for a `CustomResource` is built using the following algorithm:

# 1. Create the following direct

[2018-03-15 06:18] nikhita commented on #13
We can probably mention something like this in the README. :+1:

/cc @sttts @munnerz

[2018-03-15 08:16] vncntvandriessche commented on #13
@nikhita Is there any *resource/channel/...* you'd suggest gathering information to continue from the point where I stopped in the above document. This is where it gets very hard for me. At least, it is if I want to follow the examples provided.

[2018-04-02 08:41] occia opened #14 "tag-1.9.2 register.go bug"
From my point of view, this [function](https://github.com/kubernetes/sample-controller/blob/kubernetes-1.9.2/pkg/apis/samplecontroller/v1alpha1/register.go#L49) seems to miss the following code.

    	metav1.AddToGroupVersion(scheme, SchemeGroupVersion)

[2018-04-02 08:46] munnerz commented on #14
Correct - this patch added that line, but it's not been cherry picked back
https://github.com/kubernetes/kubernetes/pull/57243
On Mon, 2 Apr 2018 at 09:41, Cen Zhang <notifications@github.com> wrote:

[2018-04-02 09:09] occia commented on #14
ok, thanks

[2018-04-02 09:12] nikhita commented on #14
I think this should be reopened and it should be cherry-picked to 1.9.

/reopen

[2018-04-02 09:16] occia commented on #14
You are right, now reopened.

[2018-04-02 23:11] qwe5456 commented on #7
Hi @suneeta-mall , I came into the exactly the same error when implementing my own controller. I was also following the sample-controller example. Could you please provide some information on how you resolved this error? Thank you!

[2018-04-02 23:44] suneeta-mall commented on #7
@qwe5456, It was the problem with the runtime objects generated by code-generator in my case. I had open api tags (from memory) which was the cause of the 'bad' objects getting generated ..   Removing that tag from the custom objects and regenerating the runtime objects fixed the issue ..

[2018-04-02 23:47] qwe5456 commented on #7
@suneeta-mall thank you for your quick response. I'll look into my code accordingly.

[2018-04-03 17:17] hochuenw opened #15 "Go client of one crd."
Is there a way to use go client to create one crd after this line `kubectl create -f artifacts/examples/crd.yaml`?

[2018-04-03 17:27] nikhita commented on #15
Do you mean how you can create a CRD programatically using a Go client?

You can use the apiextensions client - https://github.com/kubernetes/apiextensions-apiserver/blob/master/pkg/client/clientset/clientset/typed/apiextensions/v1beta1/customresourcedefinition.go.

Here is an example on how to use it: https://github.com/kubernetes/kube-deploy/blob/6fd78203fdd2fde0069b8e0f63788f8e7fd63c52/cluster-

[2018-04-03 17:28] nikhita commented on #14
/assign

Created the cherry-pick: https://github.com/kubernetes/kubernetes/pull/62028.

[2018-04-03 21:37] hochuenw commented on #15
Hi nikhita, I mean after crd is registered in k8s (e.g. kubectl create -f artifacts/examples/crd.yaml), how to run a crd instance in go instead of `kubectl create -f artifacts/examples/example-foo.yaml`. It seems possible to use a k8s dynamic client and Unstructured type?

[2018-04-04 16:30] krmayankk commented on #15
@nikhita why is this not recommended to do creation using the client ? We are internally using the extensions client to do this in an automated way . Also How do you block this ?

[2018-04-04 18:57] nikhita commented on #15
@hochuenw You can use a typed client i.e. client generated from code-generator and use the `Create()` method - https://github.com/kubernetes/sample-controller/blob/master/pkg/client/clientset/versioned/typed/samplecontroller/v1alpha1/foo.go#L99.

Also, the sample-controller uses the `Update` method (https://github.com/kubernetes/sample-controller/blob/master/controller.go#L334) so you can probably

[2018-04-04 18:57] nikhita commented on #15
@krmayankk Creating a CRD is a privileged operation. If you are creating the CRD using the controller, it means your controller has privileged permissions - which isn't really necessary and can be avoided.

Sorry, I am not sure I follow the question. How to block what?

[2018-04-05 00:27] devdattakulkarni commented on #13
@vncntvandriessche Good writeup.

I have recently written an article that explains under-the-hood details of the client-go machinery.
Check it out here:
https://medium.com/@cloudark/kubernetes-custom-controllers-b6c7d0668fdf

Hopefully it helps!

@nikhita: Would be interested in your thoughts about the article as well.

[2018-04-05 08:10] sttts commented on #13
@devdattakulkarni would you mind to contribute the figure from your blog to the controller sample README?

![controllers](https://cdn-images-1.medium.com/max/1600/1*dmvNSeSIORAMaTF2WdE9fg.jpeg)

[2018-04-06 18:52] devdattakulkarni commented on #13
@sttts I would be happy to contribute the figure. And if required the write-up too. Let me know the process. Should I just open a PR with modifications to the README? Also, is there any specific directory to put the figure and then link its path in the README?

[2018-04-09 07:46] sttts commented on #13
@devdattakulkarni 👍, just create a PR against the README in the main kubernetes repo.

[2018-04-09 18:05] devdattakulkarni commented on #13
@sttts Cool. Will do that.

One more question -- when you say README in main kubernetes repo, do you mean:
https://github.com/kubernetes/kubernetes

or you mean:
https://github.com/kubernetes/sample-controller

[2018-04-10 00:05] MrHohn opened #16 "govet error: "literal copies lock value from fakePtr""
From https://github.com/kubernetes/ingress-gce/pull/163.

Using the auto generating scripts in hack/ with golang 1.10.1 and hit below error when running govet:
[code]

It seems that is also the case in this repo:
https://github.com/kubernetes/sample-controller/blob/9d231f2a2a34c4a866e80465eb50fc7b2806eddf/pkg/client/clientset/versioned/fake/clientset_generated.go#L44-L56

Should we fix the generat

[2018-04-10 00:45] MrHohn commented on #16
Oh seems like a fix is pending: https://github.com/kubernetes/kubernetes/pull/60584

[2018-04-10 05:37] nikhita commented on #13
@devdattakulkarni This one: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/sample-controller/README.md. :)

[2018-04-13 14:58] vncntvandriessche commented on #13
@devdattakulkarni Thanks for sharing the article. I read it and it provides a lot of insights I was still missing.
I'll start hacking soon thanks to your help!

[2018-04-13 21:54] devdattakulkarni commented on #13
@nikhita Thanks :)

@sttts https://github.com/kubernetes/kubernetes/pull/62563

@vncntvandriessche :)

[2018-04-23 17:54] #15 closed

[2018-04-25 13:02] devdattakulkarni commented on #13
@sttts @nikhita The PR https://github.com/kubernetes/kubernetes/pull/62563 has passed all the tests. Let me know if anything else is required.

[2018-04-29 06:44] rahulkrishnanfs opened #17 "Getting issue while fetching the sample-controller"
When I do  $go get github.com/kubernetes/sample-controller

I am getting the following issue

github.com/kubernetes/sample-controller
src\github.com\kubernetes\sample-controller\controller.go:102:26: cannot use "github.com/kubernetes/sample-controller/vendor/k8s.io/client-go/kubernetes/scheme".Scheme (
type *"github.com/kubernetes/sample-controller/vendor/k8s.io/apimachinery/pkg/runtime".Scheme) a

[2018-04-30 21:01] barry-schneider opened #18 "What does operating in-cluster mean under running section of readme"
Please clarify what this mean:

https://github.com/kubernetes/sample-controller/blob/master/README.md#running
[code]

- What is not required?
- How would you operate in-cluster?

[2018-04-30 21:14] barry-schneider opened #19 "How to deploy controller into the cluster"
I am a bit confused about where the custom controller is being run from. I had assumed that the customer controller would run within the cluster, just as the deployment controller does, watching and taking action. But based on my reading the custom control is client side and lives outside of kubernetes. I have have seen one [example](https://github.com/CrunchyData/postgres-operator) running the cu

[2018-05-01 15:44] gogeof opened #20 "[ support ] can't build from source"
## what happen?
I want to build from source, but get these failed:

[code]

## update by hack/update-codegen.sh still has this problem
[code]

## my env

### go version
[code]

### system version
[code]

[2018-05-01 23:32] barry-schneider commented on #19
I found a few examples

[Kubeless](https://github.com/kubeless/kubeless/) - use a Custom Resource Definition to be able to create functions as custom kubernetes resources. Then run an in-cluster controller that watches these custom resource - could this technique be incorporated into the sample?

[kubewatch](https://github.com/bitnami-labs/kubewatch) - A kubewatch container will be created along w

[2018-05-02 06:49] vncntvandriessche commented on #13
@barry-schneider Those lines just ensure no one forgets to change `yoursamplecontroller.com` and the version set in your custom resource is what you've set it to be.

These are parameters you can choose for yourself and should be changed everywhere once customised.

[2018-05-06 20:40] esnunes commented on #13
Do you know why we need to manually create the `pkg/apis/samplecontroller/v1alpha1/register.go` file. The generator depends on `Resource` func, looks like this code could be generate automatically too. Is there a reason not to automatically generate it?

[2018-05-07 08:30] esnunes commented on #13
@vncntvandriessche sorry, it is manually created. I was just wondering what is the reason why it is not generated automatically.

[2018-05-11 19:13] mustafaakin commented on #20
Can confirm, checkout kubernetes-1.10.0 did not work as well, really need it what can we do?

[2018-05-15 06:27] nikhita commented on #13
https://github.com/kubernetes/sample-controller/blob/master/docs/controller-client-go.md explains the reasoning but I guess we still need documentation in a "steps form". Step 1,.. Step 2,...

[2018-05-15 06:28] nikhita commented on #13
@sttts Wdyt about generating `register.go` too?

[2018-05-15 06:32] nikhita commented on #19
Not sure I follow, can you elaborate on how the in-cluster controller works in this case?

/cc @sttts @munnerz

[2018-05-15 08:40] sttts commented on #19
The example uses `BuildConfigFromFlags` which in turn calls `InClusterConfig` (https://github.com/kubernetes/client-go/blob/master/tools/clientcmd/client_config.go#L553). So it should work in a pod. If it doesn't, it's a bug.

[2018-05-15 08:41] sttts commented on #13
We probably could. We might need some more tags (which are the `runtime.Object` types to register in the scheme?). Also, aren't there small differences depending on whether you have custom conversions or defaulters?

[2018-05-15 15:14] devdattakulkarni commented on #13
@nikhita: Recently I had created a list of steps to serve as a quick reference of all the things that need to be done to create a custom controller. There are available here:

https://github.com/cloud-ark/kubeplus/issues/14

Were you thinking something along these lines?

Currently the explanation on the steps is sparse but that can be fixed. If you think this might be useful, I will be happy to c

[2018-05-16 09:01] xianlubird opened #21 "How to create CustomResourceDefinition using typed client"
In this example, we have to use kubectl create the CustomResourceDefinition. But how do we create it through client-go in code ?

[2018-05-16 23:30] radu-munteanu commented on #21
It's similar to how they create the deployment resource.

[2018-05-16 23:36] radu-munteanu commented on #19
All controllers can be run outside K8s or inside, as an unique pod deployed on master. They use API calls to communicate with the cluster. For testing purposes, it's just easier to use it locally, rather than package it into a container and the run it as a pod.

[2018-05-16 23:37] radu-munteanu commented on #18
You got the answer in another issue you posted. There's a function that checks if it can take the config from the cluster, if run within a pod.

[2018-05-21 08:51] nikhita commented on #2
/remove-lifecycle stale

[2018-05-24 14:43] jessfraz opened #22 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-29 07:29] jeffchanjunwei commented on #20
@gogeof how do you solve it

[2018-05-30 13:54] #18 closed

[2018-05-30 13:57] #19 closed

[2018-06-02 04:18] nikhita commented on #22
This file has been created in https://github.com/kubernetes/kubernetes/pull/64262 (thanks @jessfraz) and published by the bot.

Closing.
/close

[2018-06-02 04:18] #22 closed

[2018-06-20 07:28] cmoulliard commented on #13
Have you created a github repo containing your code + instructions ? @vncntvandriessche

[2018-06-20 09:17] cmoulliard commented on #17
I also get the same issue even if the env vars are well defined

[code]

[2018-06-20 09:18] cmoulliard commented on #20
Can this issue be fixed please ?

[2018-06-20 12:14] cmoulliard commented on #20
That works better now but there is still an issue as we can't run the test class

[code]

[2018-06-20 12:18] CaoShuFeng commented on #20
Will `go test .` work?

[2018-06-20 12:19] cmoulliard commented on #20
Can you please update the doc to mention that we must use `go get k8s.io/sample-controller` instead of `go get kubernetes/sample-controller` as the git hub repo is defined as `https://github.com/kubernetes/sample-controller.git`?

[2018-06-20 12:19] cmoulliard commented on #20
Yes

[code]

[2018-06-20 12:20] nikhita commented on #20
@cmoulliard will be done as a part of https://github.com/kubernetes/kubernetes/pull/65265#discussion_r196721468. :+1:

[2018-06-20 12:20] nikhita commented on #20
@cmoulliard will be done as a part of https://github.com/kubernetes/kubernetes/pull/65265#discussion_r196721468. :+1:

[2018-06-21 09:16] cmoulliard opened #23 "Can't run the test : go run: cannot run *_test.go files (controller_test.go)"
This command is failing when it is executed

[code]

We can run the test using nevertheless this command

[code]

[2018-06-21 09:18] cmoulliard opened #24 "How to install the controller on k8s"
Is it possible to enhance the doc in order to explain how we could build a docker image and next install the `sample-controller` on k8s, openshift ?

[2018-06-21 17:56] nikhita commented on #24
/kind documentation

[2018-06-21 17:56] nikhita commented on #5
This is now done in kubernetes/kubernetes#53944 :tada:

/close

[2018-06-21 17:56] #5 closed

[2018-06-21 18:13] #17 closed

[2018-06-21 18:13] #20 closed

[2018-06-26 14:04] vncntvandriessche commented on #13
@cmoulliard I'm afraid not, if I get around to it, I'll give a nudge here!

[2018-06-29 05:03] nikhita commented on #23
Thanks for reporting this, @cmoulliard. Fix in https://github.com/kubernetes/kubernetes/pull/65609.

[2018-06-29 15:52] nikhita commented on #23
Fixed in https://github.com/kubernetes/kubernetes/pull/65609, thanks to @CaoShuFeng! :)

/close

[2018-06-29 15:52] #23 closed

[2018-07-09 06:18] nikhita commented on #16
/remove-lifecycle stale

PR is open

[2018-07-12 16:10] zikes commented on #7
I also got this error when I accidentally used `metav1.ObjectMeta` in my `FooList` struct instead of `metav1.ListMeta`.

[2018-07-20 01:33] CaoShuFeng commented on #20
@xrmzju
This is closed by https://github.com/kubernetes/kubernetes/pull/65265

[2018-08-13 16:12] NoahElzein opened #25 "Forgetting event upon processing functional?"
I have designed a Postgres Controller based on the Sample controller. processNextWorkItem is exactly the same in my case as the sample controller. For some reason events keep looping through my queue even after being processed which leads me to believe they may not be correctly being forgotten from the queue. My synchandler also takes the same and I just added the logic for handling Postgres objec

[2018-08-13 23:37] devdattakulkarni commented on #21
@xianlubird Probably you have already figured it out..If not, check this example:

https://github.com/cloud-ark/labs/tree/master/register-crd-example

[2018-08-14 09:32] nikhita commented on #25
@NoahElzein Can you share a link to your code?

Easier to figure out the issue then. :)

[2018-08-14 09:42] nikhita commented on #25
/cc @yue9944882

[2018-08-14 10:37] yue9944882 commented on #25
i suppose @NoahElzein 's controller keeps receiving duplicated events assuming your code is correct  💯, plz show us some more code for further troubleshooting as @nikhita suggests.

[2018-08-14 10:37] yue9944882 commented on #25
/triage support

[2018-08-17 18:35] NoahElzein commented on #25
Hello,

Over the recent few days I found out it was an issue in my code. Specifically in the Update Func of my EventHandler, I was incorrectly checking the state. I got it to work normally now and the events are being forgotten correctly.

Apologies for opening up the issue and thank you for your help!

[2018-08-17 18:35] #25 closed

[2018-08-17 18:37] nikhita commented on #25
@NoahElzein Glad to hear you got it working. Thanks for circling back and updating the issue!

[2018-08-19 11:32] zanetworker opened #26 "Build error for Foo template"
I was trying to build the code with a simple `go build -o controller .` and I got the following error:

[code]

This worked before like a charm.

[2018-08-19 15:56] nikhita commented on #26
Works for me on master. @zanetworker are you using the master branch or some other version?

[2018-08-19 21:05] zanetworker commented on #26
@nikhita  It happens to me while checkout out on the master branch. I tried also using a `go get` results on the same error.

[2018-09-19 16:25] pwittrock opened #27 "Switch dependency management to `dep`"
@sttts @nikhita WDYT of switching to `dep`?  If you are ok with it I can open a PR.

[2018-09-19 16:28] pwittrock commented on #26
@zanetworker The build also works fine for me.  Have you tried in a completely new GOPATH that has nothing else besides the sample-controller?

[2018-09-19 16:32] justinsb commented on #27
I have found vgo (aka go) to be great.   Perhaps now is not the time to adopt dep?

[2018-09-19 16:34] pwittrock opened #28 "Move sample-controller out of staging"
@nikhita @sttts WDYT of moving this out of staging?  None of the projects written by consumers of sample-controller will live in staging, so it might be nice to have this match their reality.

[2018-09-19 16:37] pwittrock commented on #27
@justinsb Looks like this is published from staging, and that may be why it hasn't been migrated yet.  FWIW [the vgo doc](https://github.com/golang/go/wiki/vgo#current-state) says to use `dep` for production workloads.

[2018-09-22 20:01] zanetworker commented on #26
@pwittrock works fine for me now :). I will close the issue.

[2018-09-22 20:01] #26 closed

[2018-10-05 09:10] sttts commented on #28
Who will maintain it outside of k/k? I.e. rebase it to latest client-go each release. In k/k we basically get this for free.

[2018-10-12 20:50] devdattakulkarni opened #29 "Preventing event circulation through workqueue"
Looking at how UpdateFunc's are setup, I was wondering why ResourceVersion check is not done when setting up UpdateFunc for Foo?

Also, in the syncHandler, updateFooStatus() is called irrespective of whether an update is warranted or not.

Together these two points lead to a situation where syncHandler keeps getting triggered even after processing of an event (Foo or Deployment) is completed. This

[2018-10-14 19:43] bhabermaas opened #30 "Using sample-controller to create a custom version - it doesn't work"
I have created a project to create a custom sample-controller.
1. I updated pkg/api files to setup Runner and RunnerList types to replace Foo and FooList
2. I created new client code using update-codegen.sh
3. I modified main.go and controller.go appropriately.

When I build and run I get the following message repeated over and over

E1014 15:31:57.075937   32420 reflector.go:134] github.com/custo

[2018-10-14 23:50] bhabermaas commented on #30
The significance of modifications to pkg/api has not been adequately documented.

[2018-10-14 23:50] #30 closed

[2018-10-18 10:46] #2 closed

[2018-10-19 18:14] nrfox opened #31 "Requeue work item on syncHandler error"
When the syncHandler returns an error, I would expect the work item to be re-added to the workqueue according to [this](https://github.com/kubernetes/sample-controller/blob/master/controller.go#L199-L202) comment. The [statefulset controller](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/statefulset/stateful_set.go#L401) and the [deployment controller](https://github.com/kube

[2018-10-30 00:15] nrfox commented on #31
Closing since [#70031](https://github.com/kubernetes/kubernetes/pull/70031) was merged.

[2018-10-30 00:15] #31 closed

[2018-11-05 12:36] swatisehgal opened #32 "Sample controller error syncing 'default/example-foo'"
The sample controller is giving me the following error:
error syncing 'default/example-foo': Operation cannot be fulfilled on foos.samplecontroller.k8s.io "example-foo": the object has been modified; please apply your changes to the latest version and try again, requeuing

[2018-11-13 10:22] yhfeng666 opened #33 "Why I can delete the CRD resource Foo but I can't find the DeleteFunc in FooInformer?"
Just as the title shows,I can create the Foo CRD and then create or delete the Foo resource I created after I build the project but I can't find the DeleteFunc in the fooinformer.Informer().AddEventHandler().

[2018-11-14 01:34] devdattakulkarni commented on #32
@swatisehgal What are the steps that you followed?

[2018-11-14 01:40] devdattakulkarni commented on #33
I think the reason this works is client-go machinery might be providing default delete handlers. You can override that by adding a DeleteFunc in AddEventHandler for some special handling.

[2018-11-14 02:16] yhfeng666 commented on #33
@devdattakulkarni Maybe you are true.But I want to know how the controller works when it receives a delete request.

[2018-11-15 08:31] YunWang commented on #32
@swatisehgal How are you to solve it?

[2018-11-23 15:59] #13 closed

[2018-11-26 12:38] liucimin commented on #30
@bhabermaas
Excuse me.I also get this problem.
Could do  u tell me how can fix this?

[2018-11-26 12:38] liucimin commented on #30
/reopen

[2018-11-26 14:11] liucimin opened #34 "Using sample-controller to create a custom version -but it doesn't work."
I have created a project to create a custom sample-controller.

I updated pkg/api files to setup KnightNetwork and KnightNetworkList types to replace Foo and FooList
I created new client code using update-codegen.sh
I modified main.go and controller.go appropriately.
When I build and run I get the following message repeated over and over

Listing and watching *v1.KnightNetwork from github.com/knig

[2018-11-26 14:19] nikhita commented on #34
@liucimin Did you also change the `register.go` files to register the `KnightNetwork` and `KnightNetworkList` types?

https://github.com/kubernetes/sample-controller/blob/d17738308fff4926ab017deed4c0fba5bea5629a/pkg/apis/samplecontroller/v1alpha1/register.go#L45-L50

[2018-11-26 14:21] liucimin commented on #34
@nikhita
yes,i have change the register.go.
![image](https://user-images.githubusercontent.com/8232349/49019701-85c80980-f1c9-11e8-8809-7509767728c7.png)

Is there any doc or scripts to show where should we change?

[2018-11-26 14:36] nikhita commented on #28
@pwittrock Yeah, rebasing it to the latest staging repos (api, apimachinery, client-go, code-generator...) is a huge trouble :( and that's the reason we have it in staging. Also, that's why repos like cluster-bootstrap, cloud-provider are being added into staging today.

Closing this issue. Please reopen if needed.
/close

[2018-11-26 14:36] #28 closed

[2018-11-26 14:56] liucimin commented on #34
@nikhita
Thx u.
Maybe i apply a cr use Knightnetwork.
I will change it and try again next day.
Thx for your help~

[2018-11-27 03:51] liucimin commented on #34
@nikhita
I have change all my KnightNetwork  into Knightnetwork. And i work~
I think it because the crd yaml just accept the alphabetic character~
![image](https://user-images.githubusercontent.com/8232349/49057467-a8ded180-f23a-11e8-858d-4e4a496c2baa.png)

so the value in the sample-controller can only use  alphabetic character between words.
Such as:
![image](https://user-images.githubuserconten

[2018-11-27 03:51] #34 closed

[2018-11-28 17:53] rkamudhan opened #36 "How to get the log message ?"
I am getting error for the log messages:

[code]

How to check it ?

[2018-12-06 07:55] #16 closed

[2018-12-10 20:00] nikhita commented on #27
Yeah, I don't think we can move to dep unless k/k does. I'll close this in favour of https://github.com/kubernetes/kubernetes/issues/63607, which talks about using vgo for staging. Please reopen if needed.

/close

[2018-12-10 20:00] #27 closed

[2018-12-10 20:01] nikhita commented on #24
/remove-lifecycle stale
/assign

I think we can add a small note about this in the README.

[2018-12-10 20:04] nikhita commented on #32
@swatisehgal Can you elaborate on what steps you followed so that we can reproduce this? I think I've seen this reported before as well, so I'd like to solve it.

[2018-12-17 23:12] wandergeek commented on #36
Wicked. Can you please link me to the PR?
On Tue, 18 Dec 2018 at 9:28 am, Kuralamudhan Ramakrishnan <
notifications@github.com> wrote:

[2018-12-24 03:26] xkisu opened #40 "Problem with codegen on Windows"
I downloaded the repo, modified the api files and codegen script to suit my needs and tried to run `update-codegen.sh` from Git Bash, but it failed with these errors.

[code]

Where `gamepod` is my api name and `gameserver` is my CRD. Upon looking in some of the files in the error message I found out that it was using backslashes in import paths for files it generated:

[code]

However when I run

[2018-12-24 03:36] xkisu commented on #40
This error also occurs if I just clone the sample-controller repository and run `update-codegen.sh` without modifying the repository at all.

[2018-12-24 03:42] xkisu commented on #40
Upon further inspection certain generated files get the import path separator correct and some don't, specifically these ones don't:

[code]

The informers and listers get the imports correct, and most of the clientset except for those specific files above.

[2018-12-24 04:13] xkisu commented on #40
I've tracked this down to an issue with `code-generator`'s `client-gen` using `path/filepath#Join()` for generating import paths. `filepath#Join` uses the OS's file separator and that's why it's using baskslashes, it's usage in some places should be replaced with `path#Join` which uses forward slashes.

I'll open a pull request for it when I get a chance.

[2018-12-24 04:13] #40 closed

[2019-01-09 01:17] ruiaylin commented on #32
I meet the same problem. @swatisehgal  Do you solve it ?

[2019-01-09 02:14] devdattakulkarni commented on #32
@ruiaylin I cannot say what the exact issue is, but one possibility could be that the UpdateFunc for fooInformer needs to be updated to include ResourceVersion check.

Check this PR for the details:
https://github.com/kubernetes/sample-controller/issues/29

Specific changes can be found here:
https://github.com/kubernetes/kubernetes/pull/69749/files

[2019-01-15 11:03] mtgto commented on #36
I had same issue and add `klog.InitFlags`, so I can see log in console.
my example:

[code]

[2019-01-31 02:34] devdattakulkarni commented on #29
/remove-lifecycle stale

[2019-02-14 15:14] rhugga opened #41 "Is this outdated?"
I can't for the life of me get this working. I can't even get it to build. So I assume I need godep since I see a Godep directory. (also tried using dep ensure)

I've cloned sample-controller. I change to the sample-controller directory. My GOPATH=/path/to/sample-controller.

`
$pwd
/devel/kubernetes/sample-controller

$go version
go version go1.11.5 darwin/amd64

$godep version
godep v80 (darwin/

[2019-02-17 01:55] gugahoi commented on #41
https://github.com/tools/godep is not https://github.com/golang/dep

They are different tools so maybe try `dep` instead and try to no use gomodules?

[2019-02-25 15:04] prometherion opened #42 "Informer AddFunc start processing items before it has been synced"
I'm using the `sample-controller` as a scaffold for handling CRDS: basically, I got a custom resource named `IngressClass`, just simple counter the amount of registered `Ingress` resources for each class.

As the code suggests, I create the Kubernetes and custom one informers, then I instantiate a new controller passing the Informers in order to get the func `HasSynced` required by the func `cache

[2019-03-04 12:52] codesnk commented on #41
Use "go get k8s.io/sample-controller"

[2019-03-12 18:23] DirectXMan12 commented on #28
@nikhita @sttts we can probably maintain this as part of the kubebuilder/controller-runtime/controller-tools ecosystem.  We probably don't want to actually encourage people to write controllers from scratch like this, copying and pasting all this code around.

This project already falls under the [server-sdk subproject](https://github.com/kubernetes/community/blob/master/sig-api-machinery/README.m

[2019-03-14 10:22] sttts commented on #28
It also serves the purpose of test bed for k8s.io/code-generator and other machinery.

And with many people still following this style intentionally, there is value to keep it. I would be fine with some links in the readme to get to know about the other controller building tools.

[2019-03-14 23:11] DirectXMan12 commented on #28
If people (outside the SIG API Machinery core maintainers) follow this style intentionally for non-legacy reasons, I'd very much like to know why (not trying to be sarcastic there -- I'm genuinely curious as to gaps in CR/CT).  AFAICT, most *new* Go controller projects (both within the kubernetes-sigs umbrella and in the broader community ecosystem) are based on controller-runtime (and several leg

[2019-03-16 14:24] biblesyme opened #45 "import cycle not allowed"
[code]

[2019-04-08 18:00] lionelvillard opened #46 "missing hack/update-vendor.sh"
it seems that `go.mod` is generated by `hack/update-vendor.sh` which is missing. Is this intended?

[2019-04-13 04:16] #33 closed

[2019-04-16 20:17] christopherhein opened #47 "Documentation or Support for Go Modules"
It seems as though `hack/update-codegen.sh` isn't updated properly for using go modules. I was able to patch mine by changing the `CODEGEN_PKG` and removing SCRIPT_ROOT and replacing with:

[code]

Is there a better way to handle this? Happy to put in a PR if not.

[2019-04-16 20:25] christopherhein commented on #47
Scratch that, I guess I could just use `go mod vendor` and the script works as usual. Closing.

[2019-04-16 20:27] christopherhein commented on #47
Reopening since permissions are still set wrong on the file.

[2019-04-16 22:39] Cindia-blue opened #48 "the server could not find the requested resource"
/gopath/src/k8s.io/sample-controller # ./controller -kubeconfig=$HOME/.kube/config
I0416 15:33:06.201192  102295 controller.go:98] Creating event broadcaster
I0416 15:33:06.201399  102295 controller.go:115] Setting up event handlers
I0416 15:33:06.201440  102295 controller.go:156] Starting Foo controller
I0416 15:33:06.201448  102295 controller.go:159] Waiting for informer caches to sync
I0416 15:

[2019-04-16 22:56] christopherhein commented on #48
Did you `kubectl apply -f artifacts/examples/crd.yaml` first?

[2019-04-17 13:14] mattkelly commented on #47
@christopherhein my understanding is that `go mod vendor` alone won't work, as it ignores non-go files. See [this comment](https://github.com/heptio/contour/pull/997#issuecomment-481058718). Maybe you already had a `vendor` dir in place from e.g. `dep`?

I've resorted to using the solution presented in https://github.com/heptio/contour/pull/1010. It's working for me (thanks @glerchundi!), though i

[2019-04-17 16:29] christopherhein commented on #47
I read that comment before I gave it a try and was really surprised when it worked. I'm not sure what I did that was different. At least the `.sh` files were still there. Only thing I needed to do was add my own `boilerplate.go.txt`. I'll investigate a little more and see if I can understand what I did.

[2019-04-17 16:37] mattkelly commented on #47
Good call, I had to add a `boilerplate.go.txt` as well.

For completeness: with the latest code-generator package, I also had to remove the `go mod init` from [this script](https://github.com/heptio/contour/pull/1010/files#diff-892d90adfc5482f1fee4517a4ad27aee) since it has become a go module since then.

I'm still fighting with getting Kubernetes dependencies to behave correctly in our move to go

[2019-04-30 07:42] btsken commented on #45
I have the same problem.

[2019-05-02 04:06] btsken commented on #45
uninstall go as below common
sudo apt-get remove --auto-remove golang-go

and then use this  to install golang
https://golang.org/doc/install

its work for me

[2019-05-09 21:44] #24 closed

[2019-05-11 00:14] Fredy-Z opened #49 "Got error when trying to run go build"
I followed the `README` and tried to run `go build -o sample-controller .`, then I got the error below:
[code]

Any idea on how to solve it?

[2019-05-11 00:22] Fredy-Z commented on #49
I run `go mod vendor` and the problem was solved.

[2019-05-13 17:42] #49 closed

[2019-05-15 14:59] ilansh commented on #47
@mattkelly @christopherhein
I'm also attempting something similar using your solutions, have you run into an issue where the generated code is not placed in the correct location? i.e. not inside pkg/generated.
I could probably just move it to the correct location, but I wonder if there's anything else I'm missing.
Note that I'm running this outside of GOPATH.

[2019-05-15 15:34] christopherhein commented on #47
@ilansh did you set the flag `--output-base`  That sets the place or where the package should be found.

https://github.com/kubernetes/sample-controller/blob/master/hack/update-codegen.sh#L31

[2019-05-15 16:52] ilansh commented on #47
@christopherhein  Once I did that it simply created the whole repo tree  (github.com/xxx/yyy/...) under the output base.
without setting `--output-base` the generated files are placed in corresponding location in GOPATH.

[2019-05-15 19:29] christopherhein commented on #47
What does your `hack/update-codegen.sh` look like? You might need to adjust your output package path. For example from my project I can run…

[code]

and this will generate the client libs in `$HOME/foo/generated/`.

[2019-05-23 01:58] vincent-pli opened #50 "Is the `DeleteFunc` useless in the `Informer` event handler register"
`fooInformer.Informer().AddEventHandler(cache.ResourceEventHandlerFuncs{

		AddFunc: controller.enqueueFoo,
		UpdateFunc: func(old, new interface{}) {
			controller.enqueueFoo(new)
		},
})`

I find the resource DELETE will also trigger the `UpdateFunc`, and the periodic resync will triger the `UpdateFunc` either , So I wonder to know is the `DeleteFunc` useless, or anything I missing, thanks

[2019-05-31 05:17] wfernandes opened #51 "What is the correct way for running update-codegen and go test?"
I'm having trouble identifying the correct way to run the `update-codegen.sh` and `go test ./...`

I'm working on a project that also has kubernetes controllers and it has go modules setup within it. It's very similar to this sample-controller project. We are looking for a good way to get the `k8s.io/code-generator` dependency in the `vendor` directory. Although it seems that this sample-controlle

[2019-05-31 19:08] dpaks opened #52 "Object 'Kind' is missing in 'object has no kind field '"
I face this issue while trying to update Foo resource. The error that it throws makes sense as the object from informer store doesn't have TypeMeta filled.

Hence, I cannot update status for Foo resource.
Can someone help me in this regard?

[2019-06-07 21:19] mysterytony opened #53 "Did you mean "Spec" instead of "Status""
https://github.com/kubernetes/sample-controller/blob/325dc0a18ed9c672755662fdcf9f0e71120ac30e/controller.go#L325-L330

Did you mean on L327, the "Spec"? But in the end you are not updating the Spec anyways, I suppose?

[2019-06-08 17:22] #32 closed

[2019-06-14 12:39] #36 closed

[2019-06-14 15:41] devdattakulkarni commented on #53
@mysterytony No, the comment is correct. What it is referring to is the line 330. In that 'Update' method is used. The comment is saying that, instead of using the 'Update' method, more accurate would be to use the 'UpdateStatus' method since it is only the Status of the Custom Resource that we want to update. 'UpdateStatus' will update on the status and nothing else. With 'Update' it is programme

[2019-06-14 15:45] devdattakulkarni commented on #52
@dpaks Can you outline the exact steps that you followed?

[2019-06-14 16:56] devdattakulkarni commented on #50
@vincent-pli You can use DeleteFunc if you need to intercept delete call for some reason.

Here is an example of how we were using DeleteFunc:
https://github.com/cloud-ark/kubeplus/blob/master/operator-manager/controller.go#L168

The operator-manager CRD was being used to deploy Operator Helm charts. With DeleteFunc we registered a handler function that cleaned up various artifacts before deleting

[2019-06-14 17:55] mysterytony commented on #53
@devdattakulkarni I see. Thank you!

Closing now.

[2019-06-14 17:55] #53 closed

[2019-06-15 21:22] gautamkmr opened #54 "An example walk through for new user"
I am trying to understand the details of custom controller and planning to write a new one. I could not find a good user doc which talks about the details of file and package. I am looking for something like example other than foo which is being created. The closest I have found is this [article](https://itnext.io/building-an-operator-for-kubernetes-with-the-sample-controller-b4204be9ad56) but thi

[2019-06-15 22:32] gautamkmr opened #55 "Running update-codegen.sh results into error unsupported type."
88e9fe562973:sample-controller gauta$ ./hack/update-codegen.sh
go: downloading k8s.io/gengo v0.0.0-20190116091435-f8a0810f38af
go: extracting k8s.io/gengo v0.0.0-20190116091435-f8a0810f38af
Generating deepcopy funcs
F0615 15:31:22.971465   29579 deepcopy.go:873] Hit an unsupported type invalid type.

[2019-06-16 16:20] nikhita commented on #55
@gautamkmr Was this on the sample-controller master? `88e9fe562973` doesn't seem to reference any commit, were there any extra changes? If so, could you list them here?

[2019-06-16 16:43] nikhita commented on #46
The canonical source of the code in this repo is https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/sample-controller. The code in this repo is a copy of it.

The script can be found here - https://github.com/kubernetes/kubernetes/blob/master/hack/update-vendor.sh.

[2019-06-16 16:43] #46 closed

[2019-06-16 16:49] nikhita commented on #51
Created https://github.com/kubernetes/kubernetes/pull/79081 for update-codgen

[2019-06-16 16:49] nikhita commented on #47
Created https://github.com/kubernetes/kubernetes/pull/79081

[2019-06-16 19:36] devdattakulkarni opened #56 "Using golang 1.12+"
If you are using golang 1.12 and up, which supports go modules, you don't need to have the project in your GOPATH.

Here are the steps that you can follow for trying out the project with golang 1.12+

git clone https://github.com/kubernetes/sample-controller.git
cd sample-controller/
go mod vendor
go build -o sample-controller .
./sample-controller -kubeconfig=$HOME/.kube/config

[2019-06-17 06:33] gautamkmr commented on #55
@nikhita Thanks for reply, yes this is on master branch.

88e9fe562973 is my host :) sorry for confusion.

I was following the steps from here which is pretty generic, https://itnext.io/building-an-operator-for-kubernetes-with-the-sample-controller-b4204be9ad56

Instead of running `go get `I manually cloned the master branch

[2019-06-19 15:40] adinunzio84 commented on #49
Same, though I fixed by adding `-u`:
`go get -u k8s.io/sample-controller`

[2019-06-24 09:50] damnever commented on #47
It does not put the generated code in right place if the import path for go module isn't same as file path.

For example:

[code]

Here is the dirty fix:
[code]

[2019-06-24 09:57] nikhita commented on #47
@damnever yup, that's a known issue. Code generation doesn't work with non-GOPATH based assumptions today.

[2019-06-25 03:11] damnever commented on #47
@nikhita Maybe code-generator could provide some information as a hit if the path is wrong.

[2019-06-25 22:05] droctothorpe opened #57 "In-Cluster Deployment"
Is there a standardized workflow for deploying the controller within a cluster?

[2019-06-26 15:15] SleepyBrett commented on #54
As someone who has written a couple of simple controllers over the last three years I find the addition of the CRD to this controller to be very confusing. Perhaps a sample using only core resource types should be built side by side with this one.

tl;dr this is meant to be a 101, it's a 201.

[2019-06-28 18:51] ju187 commented on #49
I have a similar project and got this error after running generate-groups.sh to create clientset.
go version 1.12.4
The project structure was initially setup with kubebuilder.  I noticed this line was updated recently
config.NegotiatedSerializer = scheme.Codecs.WithoutConversion()
Where there be any issue if I revert to the previous code?
config.NegotiatedSerializer = serializer.DirectCodecFactory

[2019-06-28 19:36] akhr commented on #49
Whats the import path of "serializer" ?

[2019-06-28 20:07] ju187 commented on #49
"k8s.io/apimachinery/pkg/runtime/serializer"

[2019-06-29 15:36] thebsdbox commented on #54
I put this together that details the sample-controller -> https://thebsdbox.co.uk/2019/06/26/Kubernetes-Controllers-Part-One/

The source is all markdown so I can happily donate it if it's any use to the `sample-controller` repo.

[2019-06-30 04:49] #29 closed

[2019-07-03 19:15] avorima commented on #57
Afaik the controller is not usable in-cluster as is, but here's some steps to make it happen:

- Add an option to get an in cluster `*rest.Config` by calling `rest.InClusterConfig()`
- Create RBAC for the controller
- Create a deployment for the controller

Hope that helps

[2019-07-04 12:10] nikhita commented on #56
@devdattakulkarni Thanks! Closing since it'll be covered in https://github.com/kubernetes/kubernetes/pull/79081

[2019-07-04 12:10] #56 closed

[2019-07-04 12:13] nikhita commented on #55
Looks like the issue is https://github.com/kubernetes/kubernetes/issues/79149 :)

[2019-07-04 12:13] #55 closed

[2019-07-04 12:15] nikhita commented on #41
This is not outdated, it works even with the instructions on master. :)

Instructions on using this with go modules can be found here: https://github.com/kubernetes/kubernetes/pull/79081

[2019-07-04 12:15] #41 closed

[2019-07-04 12:17] nikhita commented on #45
Closing since this currently works on master. You can also find instructions on using with go modules here: https://github.com/kubernetes/kubernetes/pull/79081.

Please reopen/comment if you still face the issue.

[2019-07-04 12:17] #45 closed

[2019-07-04 14:56] devdattakulkarni commented on #56
@nikhita 👍

[2019-07-12 07:47] #47 closed

[2019-07-12 07:47] #51 closed

[2019-07-25 16:48] #42 closed

[2019-07-31 15:25] zhcf opened #58 "godep restore failed"
run godep restore failed for downloading the cznic code, for gitlab, the git clone should have the suffix.git, like this git clone https://gitlab.com/cznic/cc.git

[root@localhost sample-controller]# godep restore
 cd .; git clone https://gitlab.com/cznic/cc /root/go/src/modernc.org/cc
Cloning into '/root/go/src/modernc.org/cc'...
error: RPC failed; result=22, HTTP code = 404
fatal: The remote end

[2019-08-01 02:40] zhcf commented on #58
refer below doc, you can build the controller success.
https://itnext.io/building-an-operator-for-kubernetes-with-the-sample-controller-b4204be9ad56

[2019-08-26 09:45] BambooAce opened #59 "how to handle crd object using 'get/list' request in controller with restful-api?"
`trustslaveInformer.Informer().AddEventHandler(cache.ResourceEventHandlerFuncs{
		AddFunc: controller.enqueueTSItem,
		UpdateFunc: func(old, new interface{}) {
			oldtsitem := old.(*trustslavev1.TSItem)
			newtsitem := new.(*trustslavev1.TSItem)
			if oldtsitem.ResourceVersion == newtsitem.ResourceVersion {
				return
			}
			// update
			controller.enqueueTSItem(new)
		},
		DeleteFunc: controller

[2019-08-27 07:59] #59 closed

[2019-09-14 01:41] #48 closed

[2019-10-25 03:51] keshiha96 opened #62 "The folder "pkg/generated" not being generated"
When building the sample-controller from scratch, and executing the command `./hack/update-codegen.sh` it does not generate the **generated** directory under **pkg** folder.

When commenting out the line `--output-base "$(dirname "${BASH_SOURCE[0]}")/../../.." \` only it generates the directories.

But **zz_generated.deepcopy.go** file is not generated under **pkg/apis/samplecontroller/v1alpha1**

[2019-10-29 06:15] #62 closed

[2019-11-08 09:01] gaocegege opened #63 "[question] AddRateLimited or Add directly"
Hi I have a question about the usage of workqueue in the sample controller.

We are using workqueue.RateLimitingInterface as the work queue, but we only use AddRateLimited in [`processNextWorkItem`](https://github.com/kubernetes/sample-controller/blob/master/controller.go#L221).

[code]

In [`enqueueFoo`](https://github.com/kubernetes/sample-controller/blob/master/controller.go#L344), we use Add i

[2019-11-11 17:36] #52 closed

[2019-11-11 18:37] #50 closed

[2019-11-19 09:39] yincongcyincong opened #64 "start 2 sample-controller error"
i start 2 sample-controller, when i change crd, controller trigger foo's updatefunc, one is normal, another occurr errors
[code]
how to avoid it

[2019-11-26 10:00] chrislinan commented on #40
Hi @xkisu

I met the same issue with you.
You mentioned that you will open a pull request for this issue, is there any update?

Thanks a lot.

[2019-11-26 17:27] #54 closed

[2019-11-27 07:53] yincongcyincong commented on #64
leader election

[2019-11-27 07:53] #64 closed

[2019-11-29 08:17] YesterdayxD commented on #63
I think the reason is that only it exists error , call c.workqueue.AddRateLimited(key) .
[code]
But if it exists any informer update, call enqueueFoo.Don't need error occurs.

[2019-11-29 09:01] YesterdayxD opened #65 "[question] foo.Spec.Replicas does not equal deployment.Spec.Replicas"
[code]
[code]
why call the newDeploymenthe when two value don't equal ? Can it successed?
Should put it c.workqueue.AddRateLimited(key)?

[2019-11-30 21:05] #57 closed

[2019-12-29 04:08] #58 closed

[2020-01-29 00:53] sureleo opened #66 "[Question] Sample Controller is listing from cluster scope"
Hello,

I am trying to play with sample controller without a cluster role. I saw a bunch of error messages like this:
[code]

Is there a way to ask the sample controller only list from certain namespace? Or is it by design that most of the CRD operator need to have the permission to list CRDs in all namespaces? Thanks in advance.

Regards,
Shuo

[2020-02-27 11:20] StiviiK opened #67 "[Question] not enough arguments in call to watch.NewStreamWatcher"
Hi all,
I am very new to K8s controller and tried to build my own controller based on this repo, but when I try to build the code I always receive the following error.
[code]
My project currently looks like this: https://github.com/StiviiK/wd-aep-k8s-controller (In the controller.go are still some other errors due to that I just copied the file from this repo and didn't fix all errors yet.)

[2020-02-28 13:07] StiviiK commented on #67
Fixed the error by using the following go.mod:
[code]

[2020-02-28 13:07] #67 closed

[2020-03-03 16:32] alok87 opened #68 "[Question] How to version the CRDs ?"
Doc - https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning/

For adding a version say v1beta1 and v1, should i keep copies of the v1apha1 folders or rename them. Renaming them won't keep things backward compatible.

[2020-03-04 02:13] toonsevrin opened #69 "Cluster scoped crd not working?"
Hi guys I tried to create a cluster scoped crd from this but the code-generator does not seem to recognize this, what am I doing wrong?

Reproduction:
[code]
now I add ```// +genclient:nonNamespaced``` in the Foo section of the types.go file.

[code]

Now the code is still generated as if it is a namespaced resource (eg. `exampleInformerFactory.Samplecontroller().V1alpha1().Foos().Lister().Foos()`

[2020-03-04 02:55] toonsevrin commented on #69
Note that my issue is due to ./hack/update-codegen.sh not actually deploying newly generated code, what am I doing wrong?

[2020-03-05 00:06] toonsevrin commented on #69
All right, so this was a dependency problem: Because I was automatically populating `go.mod`, it pulled the latest version of my own project from github.

[https://wiki.tcbv.be/en/ict/kubernetes/developing_on_kubernetes](I've also documented my solution here). This resource may be handy if you're developing a CRD.

Updating my go.mod solved this issue:
[code]

[2020-03-05 00:06] #69 closed

[2020-03-22 10:09] BlackKD commented on #67
mark

[2020-03-30 03:20] gaocegege commented on #63
/close

[2020-03-30 03:20] #63 closed

[2020-04-22 11:19] devdattakulkarni commented on #68
In your controller code you should keep all the versions (v1alpha1, v1beta1, v1) as long as you plan to support them. You will want to follow some deprecation policy for removing previous versions and inform your users well ahead of time when the support for previous versions will be removed from your controller.

[2020-04-22 11:38] devdattakulkarni commented on #66
All the client-go functions support passing in Namespace name in their CRUD calls. The sample-controller code is already written to parse and use namespace field from input YAMLs. So yes, you can restrict your code to make calls for objects in a particular namespace. If you pass the namespace field as "" (empty string) in a list call, then that call goes out to all namespaces.

Regarding above err

[2020-04-22 13:15] #68 closed

[2020-04-23 07:20] chenbaoding2818 opened #70 "Is this project limited by version of golang?"
My golang is version 1.11 but buil this project is failed
Should remind everyone in README.md when we build this project should use version 1.13 of golang？

[2020-04-23 07:24] chenbaoding2818 commented on #70
# k8s.io/apimachinery/pkg/util/errors
../mygo/pkg/mod/k8s.io/apimachinery@v0.0.0-20200410021338-ff54c5b023af/pkg/util/errors/errors.go:99:10: undefined: errors.Is
note: module requires Go 1.13

[2020-04-27 11:05] #65 closed

[2020-05-04 16:27] marcosnils opened #71 "What's the recommended way to deploy controllers to prod environments?"
Hi,

Thx for putting up this project, it really helped on understand how controller works and as a start point to implement my custom controller.

I have two questions that could really help me finish my project implementation.

1. As the title of this issue says, what's the recommended way to deploy the controller to a production cluster once it's ready to be shipped? Put it in a docker image and

[2020-05-26 08:51] inkinworld commented on #7
thx, you save my day~

[2020-05-29 02:37] caoruidong commented on #70
Yes, its dependence uses new error handling in Go 1.13

[2020-05-29 02:42] caoruidong commented on #71
2) Because workqueue is for any type. It's better to use the name than a specific type.

[2020-05-29 06:47] gianarb commented on #71
Hello, @caoruidong is it a valid answer but it does not cover the use case @marcosnils expressed.

The queue is a general-purpose so it does not require a type, but if you know that only one type will ever get managed by your queue because it is required by your business logic the queue will stay general purpose, or you can have a solid logic that casts what you dequeue until you find what's neede

[2020-06-21 12:45] lenardchristopher commented on #62
@keshiha96 How did you solve this?

[2020-07-17 12:39] alok87 opened #72 "In code CRD validation"
Not all kinds of validations are possible using OpenAPIV3 validation, [like](https://stackoverflow.com/questions/62953678/openapiv3-conditional-validation-between-properties)

Can we add support for incode validation here for referrence if possible? The validations like these https://github.com/jetstack/navigator/tree/master/pkg/apis/navigator/validation

[2020-07-20 15:49] max-rocket-internet opened #73 "The update-codegen script does not automatically generate files & directories"
To quote the README:

But:

[code]

Am I misunderstanding how this is supposed to work?

[2020-07-29 08:52] xinydev opened #74 "Update the apiVersion in examples"
The apiVersion in example(crd.yaml) is apiextensions.k8s.io/v1beta1 which  is deprecated in v1.16

Should we need to update the apiVersion to v1 ?

[2020-08-09 15:00] farah commented on #73
@dims @sttts Hey guys, any idea on how to solve this? It's a bit confusing for beginners.

[code]

 thanks in advance.

[2020-08-10 08:04] max-rocket-internet commented on #73
TBH I think this code generation thing adds more headache/complexity than it solves, especially when you're just beginning to write a controller using this repo as a start.

[2020-08-10 11:30] farah commented on #73
hey @max-rocket-internet, just realised that the fix is actually in the read me. Run `go mod vendor` and you should be good.

[2020-08-13 20:48] caboteria commented on #73
Here's what I've figured out from a couple of hours of faffing around with this:

The first problem is "how do you run generate-groups.sh"?  There are two answers.  One was pointed out by @farah : populate the vendor directory.  The other is to clone the code-generator project so that it's a sibling of sample-controller (which is where it lives in the kubernetes/kubernetes repo).  You can look in

[2020-09-19 13:40] #66 closed

[2020-10-16 05:37] #72 closed

[2020-10-21 01:03] espindola opened #75 "Changing deploymentName creates a new deployment"
I would expect that changing a foo's deploymentName would modify the name of the corresponding deployment. What instead happens is that a new deployment is created and we are left with two deployments, one with no corresponding foo.

[2020-10-26 04:58] #70 closed

[2020-10-26 09:02] #71 closed

[2020-11-30 07:34] ferama commented on #73
Did you find any solution? The go mod vendor doesn't work for me. This is what I did:

[code]

The script generates a bunch of dirs and filess inside my home

[code]

but all the files there are empty

[2020-11-30 08:31] max-rocket-internet commented on #73
I switched to [kubebuilder](https://book-v1.book.kubebuilder.io/basics/simple_controller.html), I think it's better.

[2020-12-08 16:14] #74 closed

[2021-01-21 00:40] aweis89 opened #76 "Metrics"
Is there an easy way to prometheus metrics to the controller?

[2021-03-20 02:38] #75 closed

[2021-03-26 11:13] ViviLearns2Code commented on #76
Hello, client-go allows you to do metrics, but you need to inject your own metrics provider to get them.
You can see how this is done if you look up the implementation in `controller-runtime`: https://github.com/kubernetes-sigs/controller-runtime/tree/master/pkg/metrics

Ex: Workqueue metrics
These are the client-go metrics for workqueues - you can see that by default it uses a dummy metrics provi

[2021-04-06 07:34] wxuedong opened #77 "Execute generate-groups.sh is failure"
@Hi ，execute the file `./hack/update-codegen.sh` locally and it prompts an error，

bash: ../code-generator/generate-groups.sh: No such file or directory

go version is 1.16.3

[2021-04-15 21:13] rumstead commented on #77
Make sure this is added to your project, https://github.com/kubernetes/sample-controller/blob/master/hack/tools.go. Additionally, make sure you have tools added as [go build tag](https://golang.org/pkg/go/build/)

[2021-04-30 04:42] tahirali-endurance opened #78 "SharedInformer UpdateFunc triggers while Updating status"
After making a deep copy of foo object and before running Update() on foo, if the shared informer UpdateFunc is triggered which resulted a new resource version, I have seen sometimes, " **the object has been modified; please apply your changes to the latest version and try again**".

[code]

Is there a way to handle version conflict error in this case?

[2021-05-09 08:23] MadhavJivrajani opened #80 "Move CRD from `v1beta1` to `v1`"
When creating the CR, the API server warns about the deprecation of `CustomResourceDefinition` in `v1beta1` and unavailability from 1.22:
[code]

I'd be happy to take this up unless there's a specific reason to keep it in `v1beta1`.
/assign

[2021-05-10 06:29] nikhita commented on #80
Thanks for taking this up!

[2021-05-10 13:16] MadhavJivrajani commented on #80
Hey @nikhita, quick question: I changed those versions and updated the yaml files accordingly to be compatible with 1.21, I'm now trying to change the group version for the CR from `v1alpha1` to `v1` and trying to run `update-codegen.sh` for getting started, but the code for the target generators isn't being generated, I get this output as well:
[code]
I changed `hack/update-codegen.sh` to have `s

[2021-05-10 13:22] nikhita commented on #80
@MadhavJivrajani you will need to manually move the types.go, register.go, etc files from the v1alpha1 directory to v1 - https://github.com/kubernetes/sample-controller/tree/master/pkg/apis/samplecontroller/v1alpha1

[2021-05-15 10:25] #80 closed

[2021-06-29 03:18] hippoKnight commented on #77
@wxuedong, have you run `go mod vendor` (in *Fetch sample-controller and its dependencies* in README.md) ?

[2021-09-20 09:01] ecejjar opened #81 "README is wrong on generating code when using Go modules"
The README.md file reads, when discussing code generation using Go 1.11 modules:

"When using go 1.11 modules (GO111MODULE=on), issue the following commands --- **starting in whatever working directory you like**."

However, when calling the code generator (downloaded e.g. using `go mod vendor`), it expects your code to be in the proper Go package path:
[code]

So , you can't start in whatever wor

[2021-09-27 06:06] #78 closed

[2021-11-26 04:24] #77 closed

[2021-12-14 16:33] akhil-rane commented on #81
I am getting the same issue, not able to generate code when working directory is outside GOPATH

[2022-01-04 14:11] wm775825 commented on #7
Very very thanks!

[2022-02-04 09:58] mamachanko opened #83 "`./hack/update-codegen.sh` fails on pristine checkout"
When running `./hack/update-codegen.sh` on a pristine checkout (currently `76c5360`), it fails with `bash: ../code-generator/generate-groups.sh: No such file or directory`.

See:
[code]

I understand that client code generation is not straightforward. However, it would be nice if `sample-controller` could show the way here.

Thanks y'all! ❤️

[2022-02-22 03:58] molinjun opened #84 "go build with error sf.IsExported undefined"
I pulled the latest version and go build. There is some issues:
[code]
I googled and someone mentioned it should update the go version from go 1.16 to go 1.17. I am not sure if this is the issue.

[2022-02-22 08:36] blueriver1125 commented on #84
+1

[2022-02-22 10:37] gedennis commented on #84
@blueriver1125 could you like to share your go.mod.
Why does the repo use a wrong version?

[2022-03-02 09:46] blueriver1125 commented on #84
module example.com/example-broker

go 1.16

require (
	github.com/gin-gonic/gin v1.7.7
	github.com/kubernetes-sigs/service-catalog v0.3.1
	k8s.io/apimachinery v0.19.0
	k8s.io/client-go v0.19.0
)

[2022-03-07 04:40] alias-rahil opened #85 "[enhancement] Move the code generator logic to a dockerfile"
### Why?
Based on the current open issues, lots of users are having a hard time making the code generation script to work correctly for their projects. The current implementation is a bash script that heavily depends on:

1. go envs should be correctly populated to shell
2. location of the codebase should be `$GOPATH/src/github.com/kubernetes/sample-controller`
3.  maintaining a vendor directory,

[2022-04-18 11:05] leonharetd commented on #83
you could run go mod vendor (in Fetch sample-controller)

[2022-04-24 03:06] molinjun opened #86 "Generate the code with update-codegen.sh in a wrong path"
When I generate the code with update-codegen with a go mod way, the generated code is located in a wrong path.
Reproduce action:
[code]
the code is in a wrong path, so update the default update-codegen.sh output-base
[code]
then the generated code is in a k8s.io folder in the sample-controller repo.
What did I miss?

[2022-05-13 18:13] #81 closed

[2022-06-14 09:29] alias-rahil commented on #85
/close

[2022-06-14 09:29] #85 closed

[2022-07-18 09:03] mamachanko commented on #83
/close

[2022-07-30 11:31] #84 closed

[2022-08-01 05:06] vadasambar commented on #73
I edited my update-codegen script like this:
[code]
This generates the files under the parent directory's `pkg` folder but all of the files are empty as mentioned in [this](https://github.com/kubernetes/sample-controller/issues/73#issuecomment-735608491) comment. Wonder if anyone found a solution for this.

[2022-08-01 05:06] vadasambar commented on #73
/remove-lifecycle rotten

[2022-08-01 05:06] vadasambar commented on #73
/reopen

[2022-08-01 07:21] max-rocket-internet commented on #73
/reopen

[2022-08-01 07:35] max-rocket-internet commented on #73
Reopened for @vadasambar but I moved on from this topic a long time ago 🙂

[2022-08-03 04:34] vadasambar commented on #73
I can reproduce the same problem when I try running the `update-codegen.sh` script against [the original `sample-controller` inside the `kubernetes` repo](https://github.com/kubernetes/kubernetes/blob/918a6a7de7a77294a57c11c8fe40ce54cd18ea56/staging/src/k8s.io/sample-controller).

[code]
<details>
<summary>
suraj@suraj:~/sandbox/kubernetes/staging/src/k8s.io/sample-controller$ tree pkg
</summary>

[2022-08-03 04:41] vadasambar commented on #73
Started a thread around the problem in Kubernetes slack here: https://kubernetes.slack.com/archives/C0EG7JC6T/p1659501604388489

[2022-08-09 04:57] vadasambar commented on #73
This works for me:
[code]

[2022-08-22 15:55] dirathea commented on #86
Hey, @molinjun Maybe [this thread](https://kubernetes.slack.com/archives/C0EG7JC6T/p1638401250349400?thread_ts=1638387450.345100&cid=C0EG7JC6T) helps you.

Basically, this is a mirror of small parts from kubernetes/kubernetes and will work perfectly on that setup. For me, I solve this issue by placing the repo on its desired states, which under `k8s.io` directory.

[code]

Hope this helps, cheers!

[2022-09-06 18:21] pravarag opened #87 "Documentation error: example CRD already exists while trying to apply manually"
Following the documentation I've tried to apply the steps mentioned here: https://github.com/pravarag/sample-controller#running

For the step:
[code]
It throws below error upon applying as the crd already exists in the cluster (possibly due to the previous step):
[code]
If this is the expected output, the document can be updated with the removal of the extra step mentioned. I'll be happy to submit

[2022-09-06 18:23] pravarag commented on #87
Got a similar erro while trying to apply the below step as well:

[code]
Error:
[code]

[2022-09-21 16:03] #86 closed